//colors
$COLOR-BLACK: #000;
$COLOR-GREY: #373737;
$COLOR-LIGHT-GREY: #696161;
$COLOR-LIGHTER-GREY: #EFEFEF;
$COLOR-LESS-WHITE: #F9F9F9;
$COLOR-WHITE: #FFF;
$COLOR-HOVER-BLUE: rgb(53, 106, 187);

//font size
$FONT-SIZE-36PX: 2.25rem;
$FONT-SIZE-18PX: 1.125rem;
$FONT-SIZE-20PX: 1.25rem;
$FONT-SIZE-40PX: 2.5rem;
$FONT-SIZE-30PX: 1.875rem;
$FONT-SIZE-16PX: 1rem;
$FONT-SIZE-14PX: 0.875rem;

//line height
$LINE-HEIGHT-21PX: 1.3125rem;
